body {
	width: 90%;
}

.selectorSection {
	width: 100%;
	display: flex;
	align-items: center;
}

.selectorSection div {
	display: flex;
	flex-wrap: wrap;
}

.selectorSection div p {
	padding: 0px 10px;
}

.selectorSection button {
	height: 100%;
}